body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}

.btn {
    background: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

.detalle {
    text-align: center;
    padding: 40px;
}

button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
